core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/mildew-dataset/cherry-leaves/test
inputs/mildew-dataset/cherry-leaves/train
.Trash-1000*
.ipynb_checkpoints*
.devcontainer*